h1 {
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold; /* Set the font weight to bold */
    color: rgb(221, 207, 207)4e4; /* Set the text color */
    /* Add additional styles as needed */
  }