h1 {
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold; /* Set the font weight to bold */
    color: rgb(213, 221, 207); /* Set the text color */
    /* Add additional styles as needed */
  }

  .answer {
    font-size:  large !important; 
    font-weight: bold;
    /* background-color: rgb(51, 55, 49) ; */
    color: rgb(170, 160, 246)
  }
